<div style="margin-right: 0px" class="row">
  <app-nava-employee></app-nava-employee>

  <div class="col-md-10 nav_content">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <h1 style="margin-bottom: 40px;margin-top: 40px; text-align: center;  color: #FF8D1B;"> THÊM MỚI NHÂN VIÊN
      </h1>
      <!-- End content-header -->

      <!-- Main Content -->
      <form [formGroup]="employeeCreateForm" (ngSubmit)="onSubmit(employeeCreateForm)" class="form-horizontal">

        <div class="form-group">
          <label for="exampleInputFile" class="col-sm-2 control-label">Hình ảnh<span>*</span>:</label>
          <div class="col-sm-10">
            <div class="card" id="exampleInputFile">
              <img style="height: 250px ; width: 180px" [src]="getImageUrl()" class="img-thumbnail" alt="...">
              <ng-container *ngIf="getImageUrl() === defaultImage">

                <small class="form-text text-danger">
                  Hình ảnh không được để trống!
                </small>
              </ng-container>
              <div class="card-body">
                <label class="custom-file-upload">
                  <input  type="file" (change)="selectImage($event)" accept=".jpg,.jpeg,.png" multiple/>
                  Chọn ảnh
                </label>
              </div>
            </div>
          </div>


        </div>


        <div class="form-group">
          <label for="accountCode" class="col-sm-2 control-label">Mã nhân viên<span>*</span>:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="accountCode" placeholder="Mã nhân viên"
                   formControlName="accountCode">
            <!--            <ng-container *ngFor="let validation of validationMessage.accountCode">-->
            <!--              <small class="form-text text-danger"-->
            <!--                     *ngIf="employeeCreateForm.get('accountCode').hasError(validation.type)&& employeeCreateForm.get('accountCode').touched">-->
            <!--                {{validation.message}}-->
            <!--              </small>-->
            <!--            </ng-container>-->
            <ng-container *ngFor="let validation of validationMessage.accountCode">
              <small class="form-text text-danger"
                     *ngIf="employeeCreateForm.get('accountCode').hasError(validation.type)&& (employeeCreateForm.get('accountCode').touched ||
                   employeeCreateForm.get('accountCode').dirty)">
                {{validation.message}}
              </small>
            </ng-container>
            <div *ngIf="employeeCreateForm.get('accountCode').value == null && clickSubmit ">
              <small class="form-text text-danger">Vui lòng nhập mã nhân viên.</small>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="username" class="col-sm-2 control-label">Tên tài khoản<span>*</span>:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="username" placeholder="Tên tài khoảng"
                   formControlName="username">
            <ng-container *ngFor="let validation of validationMessage.username">
              <small class="form-text text-danger"
                     *ngIf="employeeCreateForm.get('username').hasError(validation.type)&& (employeeCreateForm.get('username').touched ||
                   employeeCreateForm.get('username').dirty)">
                {{validation.message}}
              </small>
            </ng-container>
            <div *ngIf="employeeCreateForm.get('username').value == null && clickSubmit ">
              <small class="form-text text-danger">Vui lòng nhập tên tài khoản.</small>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="password" class="col-sm-2 control-label">Mật khẩu<span>*</span>:</label>
          <div class="col-sm-7">
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Nhập mật khẩu">
            <ng-container *ngFor="let validation of validationMessage.password">
              <small class="form-text text-danger"
                     *ngIf="employeeCreateForm.get('password').hasError(validation.type)&& (employeeCreateForm.get('password').touched ||
                   employeeCreateForm.get('password').dirty)">
                {{validation.message}}
              </small>
            </ng-container>
            <div *ngIf="employeeCreateForm.get('password').value == null && clickSubmit ">
              <small class="form-text text-danger">Vui lòng nhập mật khẩu.</small>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="matchingPassword" class="col-sm-2 control-label">Nhập lại mật khẩu<span>*</span>:</label>
          <div class="col-sm-7">
            <input type="password" class="form-control" id="matchingPassword" formControlName="matchingPassword" placeholder="Xác nhận mật khẩu">
            <small class="form-text text-danger"
                   *ngIf="employeeCreateForm.get('matchingPassword').invalid
          && (employeeCreateForm.get('matchingPassword').dirty|| employeeCreateForm.get('matchingPassword').touched)">
              <span *ngIf="employeeCreateForm.get('matchingPassword').errors['compare']  && employeeCreateForm.get('matchingPassword').dirty"> Mật khẩu không khớp.</span>
            </small>

            <div *ngIf="employeeCreateForm.get('matchingPassword').value == null && clickSubmit ">
              <small class="form-text text-danger">Vui lòng xác nhận lại mật khẩu.</small>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="fullname" class="col-sm-2 control-label">Họ và tên<span>*</span>:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="fullname" placeholder="Họ và tên" formControlName="fullname">
            <ng-container *ngFor="let validation of validationMessage.fullname">
              <small class="form-text text-danger"
                     *ngIf="employeeCreateForm.get('fullname').hasError(validation.type)&& (employeeCreateForm.get('fullname').touched ||
                   employeeCreateForm.get('fullname').dirty)">
                {{validation.message}}
              </small>
            </ng-container>
            <div *ngIf="employeeCreateForm.get('fullname').value == null && clickSubmit ">
              <small class="form-text text-danger">Vui lòng nhập họ và tên.</small>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="birthday" class="col-sm-2 control-label">Ngày sinh<span>*</span>:</label>
          <div class="col-sm-7">
            <input type="date" class="form-control" id="birthday" placeholder="Ngày sinh" formControlName="birthday" >
            <ng-container *ngFor="let validation of validationMessage.birthday">
              <small class="form-text text-danger"
                     *ngIf="employeeCreateForm.get('birthday').hasError(validation.type)&& (employeeCreateForm.get('birthday').touched ||
                   employeeCreateForm.get('birthday').dirty)">
                {{validation.message}}
              </small>
            </ng-container>
            <div *ngIf="employeeCreateForm.get('birthday').value == null && clickSubmit ">
              <small class="form-text text-danger">Vui lòng nhập ngày sinh</small>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="gender" class="col-sm-2 control-label">Giới tính<span>*</span>:</label>
          <div class="col-sm-7">
            <div id="gender">
              <label class="radio-inline">
                <input type="radio" name="gender" id="gender1" value="Nam" formControlName="gender"> Nam
              </label>
              <label class="radio-inline">
                <input type="radio" name="gender" id="gender2" value="Nữ" formControlName="gender"> Nữ
              </label>
              <label class="radio-inline">
                <input type="radio" name="gender" id="gender3" value="Khác" formControlName="gender"> Khác
              </label>
            </div>
            <!--        <ng-container *ngFor="let validation of validationMessage.gender">-->
            <!--          <small class="form-text text-danger"-->
            <!--                 *ngIf="employeeCreateForm.get('gender').hasError(validation.type)&& employeeCreateForm.get('gender').touched">-->
            <!--            {{validation.message}}-->
            <!--          </small>-->
            <!--        </ng-container>-->
            <ng-container *ngFor="let validation of validationMessage.gender">
              <small class="form-text text-danger"
                     *ngIf="employeeCreateForm.get('gender').hasError(validation.type)&& (employeeCreateForm.get('gender').touched ||
                   employeeCreateForm.get('gender').dirty)">
                {{validation.message}}
              </small>
            </ng-container>
            <div *ngIf="employeeCreateForm.get('gender').value == null && clickSubmit ">
              <small class="form-text text-danger">Vui lòng chọn giới tính.</small>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email<span>*</span>:</label>
          <div class="col-sm-7">
            <input type="email" class="form-control" id="email" placeholder="abc@email.com" formControlName="email">
            <!--        <ng-container *ngFor="let validation of validationMessage.email">-->
            <!--          <small class="form-text text-danger"-->
            <!--                 *ngIf="employeeCreateForm.get('email').hasError(validation.type)&& employeeCreateForm.get('email').touched">-->
            <!--            {{validation.message}}-->
            <!--          </small>-->
            <!--        </ng-container>-->
            <ng-container *ngFor="let validation of validationMessage.email">
              <small class="form-text text-danger"
                     *ngIf="employeeCreateForm.get('email').hasError(validation.type)&& (employeeCreateForm.get('email').touched ||
                   employeeCreateForm.get('email').dirty)">
                {{validation.message}}
              </small>
            </ng-container>
            <div *ngIf="employeeCreateForm.get('email').value == null && clickSubmit ">
              <small class="form-text text-danger">Vui lòng nhập email.</small>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="idCard" class="col-sm-2 control-label">CMND<span>*</span>:</label>
          <div class="col-sm-7">
            <input type="number" class="form-control" id="idCard" placeholder="CMND" formControlName="idCard">
            <!--        <ng-container *ngFor="let validation of validationMessage.idCard">-->
            <!--          <small class="form-text text-danger"-->
            <!--                 *ngIf="employeeCreateForm.get('idCard').hasError(validation.type)&& employeeCreateForm.get('idCard').touched">-->
            <!--            {{validation.message}}-->
            <!--          </small>-->
            <!--        </ng-container>-->
            <ng-container *ngFor="let validation of validationMessage.idCard">
              <small class="form-text text-danger"
                     *ngIf="employeeCreateForm.get('idCard').hasError(validation.type)&& (employeeCreateForm.get('idCard').touched ||
                   employeeCreateForm.get('idCard').dirty)">
                {{validation.message}}
              </small>
            </ng-container>
            <div *ngIf="employeeCreateForm.get('idCard').value == null && clickSubmit ">
              <small class="form-text text-danger">Vui lòng nhập CMND.</small>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="phone" class="col-sm-2 control-label">Số điện thoại<span>*</span>:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="phone" placeholder="Số điện thoại" formControlName="phone">
            <!--        <ng-container *ngFor="let validation of validationMessage.phone">-->
            <!--          <small class="form-text text-danger"-->
            <!--                 *ngIf="employeeCreateForm.get('phone').hasError(validation.type)&& employeeCreateForm.get('phone').touched">-->
            <!--            {{validation.message}}-->
            <!--          </small>-->
            <!--        </ng-container>-->
            <ng-container *ngFor="let validation of validationMessage.phone">
              <small class="form-text text-danger"
                     *ngIf="employeeCreateForm.get('phone').hasError(validation.type)&& (employeeCreateForm.get('phone').touched ||
                   employeeCreateForm.get('phone').dirty)">
                {{validation.message}}
              </small>
            </ng-container>
            <div *ngIf="employeeCreateForm.get('phone').value == null && clickSubmit ">
              <small class="form-text text-danger">Vui lòng nhập số điện thoại.</small>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="address" class="col-sm-2 control-label">Địa chỉ<span>*</span>:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="address" placeholder="Số điện thoại" formControlName="address">
            <!--        <ng-container *ngFor="let validation of validationMessage.address">-->
            <!--          <small class="form-text text-danger"-->
            <!--                 *ngIf="employeeCreateForm.get('address').hasError(validation.type)&& employeeCreateForm.get('address').touched ">-->
            <!--            {{validation.message}}-->
            <!--          </small>-->
            <!--        </ng-container>-->
            <ng-container *ngFor="let validation of validationMessage.password">
              <small class="form-text text-danger"
                     *ngIf="employeeCreateForm.get('address').hasError(validation.type)&& (employeeCreateForm.get('address').touched ||
                   employeeCreateForm.get('address').dirty)">
                {{validation.message}}
              </small>
            </ng-container>
            <div *ngIf="employeeCreateForm.get('address').value == null && clickSubmit ">
              <small class="form-text text-danger">Vui lòng nhập địa chỉ.</small>
            </div>
          </div>
        </div>

        <div class="form-group" style="text-align: center">
          <div class="col-sm-6" style="text-align: right">
            <button type="button" class="btn btn-primary" routerLink="/employee-list">Quay lại</button>
          </div>
          <div class="col-sm-1" style="text-align: left">
            <button type="submit" class="btn btn-success" >Thêm mới</button>
          </div>
        </div>
      </form>
      <!-- End Main Content -->
    </div>
  </div>
</div>
