<div id="main-content">
  <div class="block-header">
    <div class="row clearfix">
      <div class="col-md-6 col-sm-12">
        <h2>Dashboard</h2>
      </div>
      <div class="col-md-6 col-sm-12 text-right">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ul>

      </div>
    </div>
  </div>





  <div class="container-fluid">

    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Manage Account</h2>
            <ul class="header-dropdown dropdown dropdown-animated scale-left">
              <li style="margin-right: 10px;">
                <input type="text" class="form-control" placeholder="Search...">
              </li>
              <li>
                <button class="btn btn-success" data-toggle="modal" data-target="#create-movie"><i
                    class="fa-solid fa-plus mr-2"></i>Create
                  New</button>
              </li>

              <li> <a href="#" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a>
              </li>
              <li><a href="#" class="full-screen"><i class="icon-size-fullscreen"></i></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false"></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another Action</a></li>
                  <li><a href="#">Something else</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="table-responsive">
              <table class="table table-hover js-basic-example dataTable table-custom mb-0 tb-create">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-center">Id</th>
                    <th class="text-left">Họ và Tên</th>
                    <th class="text-left">Địa chỉ</th>
                    <th class="text-center">Ngày sinh</th>
                    <th class="text-left">Email</th>
                    <th class="text-center">Số điện thoại</th>
                    <th class="text-center">Căn cước công dân</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of employeeList | paginate: { itemsPerPage: pageSize, currentPage: currentPage }; let i = index">
                    <td class="text-center">{{i}}</td>
                    <td class="text-left">
                      {{employee?.username}}
                    </td>
                    <td class="text-left">
                      <div style="
                                        word-wrap: break-word;
                                        white-space: normal;">
                        <span style="word-wrap: break-word;">
                          {{employee?.address}}
                        </span>
                      </div>
                    </td>
                    <td class="text-center">{{employee?.birthday}}</td>
                    <td class="text-left">{{employee?.email}}</td>
                    <td class="text-center">{{employee?.phone}}</td>
                    <td class="text-center">{{employee?.idCard}}</td>
                    <td class="text-center align-middle">
                      <button class="btn btn-sm round btn-outline-success"
                        style="display: block;    width: 100%; margin-bottom: 10px;">Update</button>
                      <button class="btn btn-sm round btn-outline-danger"
                        style="display: block;     width: 100%;">Remove</button>
                    </td>
                  </tr>


                </tbody>
              </table>
              <div style="text-align: center;padding: 30px 0;">
                <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
            </div>
            </div>

          </div>
        </div>
      </div>



    </div>

  </div>
</div>